section.card-tabs
    ._container
        .card-tabs__body._tabs
            nav.card-tabs__nav.card-tabs-nav
                .card-tabs-nav__link._tabs-item._active Характеристики
                .card-tabs-nav__link._tabs-item Особенности
            .card-tabs__content.card-tabs-content
                .card-tabs-content__description._tabs-block._active
                    ul
                        li 1Размеры поверхности:  <span>600х510 мм</span>
                        li Размеры поверхности:  <span>600х510 мм</span>
                        li Размеры поверхности:  <span>600х510 мм</span>
                        li Размеры поверхности:  <span>600х510 мм</span>
                .card-tabs-content__description._tabs-block
                    h2 1Размеры поверхности:
                    p Размеры поверхности: Размеры поверхности: Размеры поверхности:Размеры поверхности:Размеры поверхности:Размеры поверхности:Размеры поверхности:


        .card-spollers._spollers
            .card-spollers__item.card-spollers-item
                .card-spollers-item__title._spoller Характеристики
                .card-spollers-item__content
                    ul
                        li 1Размеры поверхности:  <span>600х510 мм</span>
                        li Размеры поверхности:  <span>600х510 мм</span>
                        li Размеры поверхности:  <span>600х510 мм</span>
                        li Размеры поверхности:  <span>600х510 мм</span>
            .card-spollers__item.card-spollers-item
                .card-spollers-item__title._spoller Особенности
                .card-spollers-item__content
                    h2 1Размеры поверхности:
                    p Размеры поверхности: Размеры поверхности: Размеры поверхности:Размеры поверхности:Размеры поверхности:Размеры поверхности:Размеры поверхности:
