section.card-top.card
    ._container
        .card-body
            .card-slider
                .card-slider__big-body
                    .card-slider__big.card-slider-big._swiper
                        .card-slider-big__slide
                            .card-slider-big__red-text -15%
                            .card-slider-big__red-text New
                            .card-slider-big__red-text Хит
                            img(src=`img/good1.png` alt='').swiper-lazy
                        .card-slider-big__slide
                            img(src=`img/good1.png` alt='').swiper-lazy
                        .card-slider-big__slide
                            img(src=`img/good1.png` alt='').swiper-lazy
                        .card-slider-big__slide
                            img(src=`img/good1.png` alt='').swiper-lazy
                        .card-slider-big__slide
                            img(src=`img/good1.png` alt='').swiper-lazy
                        .card-slider-big__slide
                            img(src=`img/good1.png` alt='').swiper-lazy
                    .card-slider-big__nav.card-slider-big-nav
                        .card-slider-big-nav__pref
                            img(src='img/icons/arrow-l-bor.svg' alt='стрелка на лево')
                        .card-slider-big-nav__next
                            img(src='img/icons/arrow-r.svg' alt='стрелка на право')

                .card-slider__small.card-slider-small._swiper
                    .card-slider-small__slide
                        img(src=`img/good1.png` alt='').swiper-lazy
                    .card-slider-small__slide
                        img(src=`img/good1.png` alt='').swiper-lazy
                    .card-slider-small__slide
                        img(src=`img/good1.png` alt='').swiper-lazy
                    .card-slider-small__slide
                        img(src=`img/good1.png` alt='').swiper-lazy
                    .card-slider-small__slide
                        img(src=`img/good1.png` alt='').swiper-lazy
                    .card-slider-small__slide
                        img(src=`img/good1.png` alt='').swiper-lazy

            .card-destiption
                ul.card-destiption__list
                    li Артикул: <span>2126187</span>
                    li Артикул: <span>2126187</span>
                    li Артикул: <span>2126187</span>
                    li Гарантия: <span>12 месяцев</span>
                    li Производитель: <span>Beko</span>
                    li
                        a(href="#") Все характеристики

                .card-description__price.card-description-price(data-da=".card-destiption,767,0")
                    .card-description-price__row
                        .text Без наценки:
                        .good-catalog__designer-price 15 999 р.
                    .card-description-price__row
                        .text Наценка:
                        span.text- 10%
                    .card-description-price__row
                        .text Наценка:
                        span 10%
                    .card-description-price__row
                        .text Цена:
                        .good-catalog__price-new 16 999 р.

                    .card-description-price__btn.button-in-basket
                        svg(width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M0.791015 3.2168H5.64257C6.07866 3.2168 6.43359 3.57172 6.43359 4.00781C6.43359 4.076 6.33348 3.15026 7.94105 17.6193C7.0596 17.9659 6.43359 18.8249 6.43359 19.8281C6.43359 21.1366 7.49816 22.2006 8.80664 22.2006H9.73361C9.64585 22.4482 9.59765 22.7149 9.59765 22.9922C9.59765 24.3007 10.6622 25.3652 11.9707 25.3652C13.2792 25.3652 14.3437 24.3007 14.3437 22.9922C14.3437 22.7149 14.2955 22.4482 14.2078 22.2006H19.226C19.138 22.4482 19.0898 22.7149 19.0898 22.9922C19.0898 24.3007 20.1544 25.3652 21.4629 25.3652C22.7713 25.3652 23.8359 24.3007 23.8359 22.9922C23.8359 21.6837 22.7713 20.6191 21.4629 20.6191H8.80664C8.37055 20.6191 8.01562 20.2642 8.01562 19.8281C8.01562 19.392 8.37055 19.0371 8.80664 19.0371H23.2867C24.4516 19.0371 25.4361 18.2032 25.6274 17.0542L26.9893 8.88389C27.0274 8.65462 26.9629 8.41999 26.8125 8.24263C26.6622 8.06527 26.4415 7.96289 26.209 7.96289H23.8359V4.00781C23.8359 3.5709 23.4818 3.2168 23.0449 3.2168H16.7168C16.2799 3.2168 15.9258 3.5709 15.9258 4.00781V4.79883H11.9707C11.5338 4.79883 11.1797 5.15293 11.1797 5.58984V7.96289H8.45995L8.01521 3.95961C7.98925 2.67339 6.93498 1.63477 5.64257 1.63477H0.791015C0.354103 1.63477 0 1.98887 0 2.42578C0 2.86269 0.354103 3.2168 0.791015 3.2168ZM12.7617 22.9922C12.7617 23.4283 12.4068 23.7832 11.9707 23.7832C11.5346 23.7832 11.1797 23.4283 11.1797 22.9922C11.1797 22.5561 11.5346 22.2006 11.9707 22.2006C12.4068 22.2006 12.7617 22.5561 12.7617 22.9922ZM21.4629 23.7832C21.0268 23.7832 20.6719 23.4283 20.6719 22.9922C20.6719 22.5547 21.0268 22.2012 21.4629 22.2012C21.899 22.2012 22.2539 22.5561 22.2539 22.9922C22.2539 23.4283 21.899 23.7832 21.4629 23.7832ZM17.5078 4.79883H22.2539V7.96289H17.5078V4.79883ZM12.7617 6.38086H15.9258V7.96289H12.7617V6.38086ZM25.2752 9.54492L24.067 16.794C24.0032 17.1772 23.675 17.4551 23.2867 17.4551H9.51464L8.63566 9.54492H25.2752Z" fill="white")
                            path(d="M11.9707 15.873C12.4076 15.873 12.7617 15.5189 12.7617 15.082V11.918C12.7617 11.4811 12.4076 11.127 11.9707 11.127C11.5338 11.127 11.1797 11.4811 11.1797 11.918V15.082C11.1797 15.5189 11.5338 15.873 11.9707 15.873Z" fill="white")
                            path(d="M16.7168 15.873C17.1537 15.873 17.5078 15.5189 17.5078 15.082V11.918C17.5078 11.4811 17.1537 11.127 16.7168 11.127C16.2799 11.127 15.9258 11.4811 15.9258 11.918V15.082C15.9258 15.5189 16.2799 15.873 16.7168 15.873Z" fill="white")
                            path(d="M21.4629 15.873C21.8998 15.873 22.2539 15.5189 22.2539 15.082V11.918C22.2539 11.4811 21.8998 11.127 21.4629 11.127C21.026 11.127 20.6719 11.4811 20.6719 11.918V15.082C20.6719 15.5189 21.026 15.873 21.4629 15.873Z" fill="white")
                        span В корзину
                .card-destiption__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aspernatur atque dolor doloribus ducimus eaque, eligendi enim eos impedit neque obcaecati quia quisquam sed sint suscipit. Facere iusto quam reprehenderit.
