.catalog-aside__body.catalog-aside__body-desctop
    .list-goods
        .wrapper-catalog
            ul.menuSecondLevel
                li.menuSecondLevel__li
                    a.menu__sub-link(href='#')
                        span Все генераторы
                        svg(width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M11.9301 7.08838L4.99219 0.169625C4.76487 -0.0569268 4.39685 -0.0565459 4.16991 0.170797C3.94316 0.398111 3.94374 0.766342 4.17109 0.993069L10.6961 7.50003L4.17085 14.007C3.94354 14.2337 3.94295 14.6017 4.16968 14.8291C4.28344 14.943 4.43247 15 4.5815 15C4.73016 15 4.8786 14.9434 4.99216 14.8302L11.9301 7.91165C12.0396 7.80272 12.101 7.65448 12.101 7.50003C12.101 7.34557 12.0394 7.19751 11.9301 7.08838Z" fill="black")
                    .menuThirdLevel
                        .body-menuThirdLevel.as.body-menuThirdLevel__grid
                            ul.list-country
                                li
                                    a.list-country-link(href='#')
                                        img.list-country__img(src="img/icons/country/angl.png")
                                        span Название производителя (20)
                                li
                                    a.list-country-link(href='#')
                                        img.list-country__img(src="img/icons/country/france.png")
                                        span Индукционные (20)
                                li
                                    a.list-country-link(href='#')
                                        img.list-country__img(src="img/icons/country/spain.png")
                                        span Название производителя (20)
                                li
                                    a.list-country-link(href='#')
                                        img.list-country__img(src="img/icons/country/united-states.png")
                                        span Название производителя (20)
                                li
                                    a.list-country-link(href='#')
                                        img.list-country__img(src="img/icons/country/france.png")
                                        span Индукционные (20)
                                li
                                    a.list-country-link(href='#')
                                        img.list-country__img(src="img/icons/country/spain.png")
                                        span Название производителя (20)
                                li
                                    a.list-country-link(href='#')
                                        img.list-country__img(src="img/icons/country/united-states.png")
                                        span Название производителя (20)
                            .specifications
                                .specifications__text
                                    .specifications__name Назначение:
                                    .specifications__element Промышленные
                                    .specifications__element Бытовые
                                    .specifications__element Для загородного дома
                                .specifications__text
                                    .specifications__name Тип запуска:
                                    .specifications__element.active Автоматический
                                    .specifications__element Ручной
                                    .specifications__element Автозапуск
                                    .specifications__element Электростартер
                                .specifications__text
                                    .specifications__name Уровень шума:
                                    .specifications__element Тихие
                                    .specifications__element Средние
                                    .specifications__element Громкие
                            .description
                                .description__img
                                    img(src="img/good1.png" alt="")
                                .description__text Текст-описание для выбранной категории. Данный текст хорошо повлияте на SEO составляющую, а так же расскажет посетителю о данной категории товаров. Дальнейшее содержание неинформативно и заполнено рыбатекстом




                li.menuSecondLevel__li
                    a.menu__sub-link(href='#')
                        span Бензиновые однофазные (230В)
                        svg(width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M11.9301 7.08838L4.99219 0.169625C4.76487 -0.0569268 4.39685 -0.0565459 4.16991 0.170797C3.94316 0.398111 3.94374 0.766342 4.17109 0.993069L10.6961 7.50003L4.17085 14.007C3.94354 14.2337 3.94295 14.6017 4.16968 14.8291C4.28344 14.943 4.43247 15 4.5815 15C4.73016 15 4.8786 14.9434 4.99216 14.8302L11.9301 7.91165C12.0396 7.80272 12.101 7.65448 12.101 7.50003C12.101 7.34557 12.0394 7.19751 11.9301 7.08838Z" fill="black")

                    .menuThirdLevel
                        .body-menuThirdLevel.as
                            .menu__sub-list-title.ThirdLevel-title

                            ul
                                li
                                    a.menu__sub-link(href='#') Индукционные
                                li
                                    a.menu__sub-link(href='#') Электрические
                                li
                                    a.menu__sub-link(href='#') Газовые
                                li
                                    a.menu__sub-link(href='#') Комбинированные
                li.menuSecondLevel__li
                    a.menu__sub-link(href='#')
                        span Бензиновые трехфазные (400В)
                        svg(width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M11.9301 7.08838L4.99219 0.169625C4.76487 -0.0569268 4.39685 -0.0565459 4.16991 0.170797C3.94316 0.398111 3.94374 0.766342 4.17109 0.993069L10.6961 7.50003L4.17085 14.007C3.94354 14.2337 3.94295 14.6017 4.16968 14.8291C4.28344 14.943 4.43247 15 4.5815 15C4.73016 15 4.8786 14.9434 4.99216 14.8302L11.9301 7.91165C12.0396 7.80272 12.101 7.65448 12.101 7.50003C12.101 7.34557 12.0394 7.19751 11.9301 7.08838Z" fill="black")

                li.menuSecondLevel__li
                    a.menu__sub-link(href='#')
                        span Сварочные электростанции (сварочные агрегаты)
                        svg(width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M11.9301 7.08838L4.99219 0.169625C4.76487 -0.0569268 4.39685 -0.0565459 4.16991 0.170797C3.94316 0.398111 3.94374 0.766342 4.17109 0.993069L10.6961 7.50003L4.17085 14.007C3.94354 14.2337 3.94295 14.6017 4.16968 14.8291C4.28344 14.943 4.43247 15 4.5815 15C4.73016 15 4.8786 14.9434 4.99216 14.8302L11.9301 7.91165C12.0396 7.80272 12.101 7.65448 12.101 7.50003C12.101 7.34557 12.0394 7.19751 11.9301 7.08838Z" fill="black")

                li.menuSecondLevel__li
                    a.menu__sub-link(href='#')
                        span Дизельные электростанции с жидкостным охлаждением (5-550 кВт)
                        svg(width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M11.9301 7.08838L4.99219 0.169625C4.76487 -0.0569268 4.39685 -0.0565459 4.16991 0.170797C3.94316 0.398111 3.94374 0.766342 4.17109 0.993069L10.6961 7.50003L4.17085 14.007C3.94354 14.2337 3.94295 14.6017 4.16968 14.8291C4.28344 14.943 4.43247 15 4.5815 15C4.73016 15 4.8786 14.9434 4.99216 14.8302L11.9301 7.91165C12.0396 7.80272 12.101 7.65448 12.101 7.50003C12.101 7.34557 12.0394 7.19751 11.9301 7.08838Z" fill="black")

                li.menuSecondLevel__li
                    a.menu__sub-link(href='#')
                        span Дизельные с воздушным охлаждением (2 - 25 кВт)
                        svg(width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M11.9301 7.08838L4.99219 0.169625C4.76487 -0.0569268 4.39685 -0.0565459 4.16991 0.170797C3.94316 0.398111 3.94374 0.766342 4.17109 0.993069L10.6961 7.50003L4.17085 14.007C3.94354 14.2337 3.94295 14.6017 4.16968 14.8291C4.28344 14.943 4.43247 15 4.5815 15C4.73016 15 4.8786 14.9434 4.99216 14.8302L11.9301 7.91165C12.0396 7.80272 12.101 7.65448 12.101 7.50003C12.101 7.34557 12.0394 7.19751 11.9301 7.08838Z" fill="black")

    .droplist-aside._spollers(data-da=".catalog-aside__filter,1023,1")
        .droplist-aside__title._spoller Производитель
        .droplist-aside-body(style="display: none;")
            .droplist-aside-checkboxs
                .checkbox
                    input.checkbox__input(type="checkbox" id="checkbox_1")
                    label.checkbox__text(for="checkbox_1").list-country-link
                        img.list-country__img(src="img/icons/country/angl.png")
                        span Название производителя (20)
                .checkbox
                    input.checkbox__input(type="checkbox" id="checkbox_2")
                    label.checkbox__text(for="checkbox_2").list-country-link
                        img.list-country__img(src="img/icons/country/angl.png")
                        span Название производителя (20)
                .checkbox
                    input.checkbox__input(type="checkbox" id="checkbox_3")
                    label.checkbox__text(for="checkbox_3").list-country-link
                        img.list-country__img(src="img/icons/country/angl.png")
                        span Название производителя (20)
                .checkbox
                    input.checkbox__input(type="checkbox" id="checkbox_4")
                    label.checkbox__text(for="checkbox_4").list-country-link
                        img.list-country__img(src="img/icons/country/angl.png")
                        span Название производителя (20)

        .droplist-aside__floating-button.button Показать
    .droplist-aside._spollers(data-da=".catalog-aside__filter,1023,2")
        .droplist-aside__title._spoller Мощность, кВт
        .droplist-aside-body(style="display: none;")
            .droplist-aside-checkboxs.line-check
                .checkbox
                    input.checkbox__input(type="checkbox" id="checkbox_10")
                    label.checkbox__text.list-country-link(for="checkbox_10") 1
                .checkbox
                    input.checkbox__input(type="checkbox" id="checkbox_20")
                    label.checkbox__text.list-country-link(for="checkbox_20") 2
                .checkbox
                    input.checkbox__input(type="checkbox" id="checkbox_30")
                    label.checkbox__text.list-country-link(for="checkbox_30") 3
                .checkbox
                    input.checkbox__input(type="checkbox" id="checkbox_40")
                    label.checkbox__text.list-country-link(for="checkbox_40") 4
                .checkbox
                    input.checkbox__input(type="checkbox" id="checkbox_5")
                    label.checkbox__text.list-country-link(for="checkbox_5") 5
                .checkbox
                    input.checkbox__input(type="checkbox" id="checkbox_6")
                    label.checkbox__text.list-country-link(for="checkbox_6") 6
                .checkbox
                    input.checkbox__input(type="checkbox" id="checkbox_7")
                    label.checkbox__text.list-country-link(for="checkbox_7") 7
                .checkbox
                    input.checkbox__input(type="checkbox" id="checkbox_8")
                    label.checkbox__text.list-country-link(for="checkbox_8") 8
                .checkbox
                    input.checkbox__input(type="checkbox" id="checkbox_11")
                    label.checkbox__text.list-country-link(for="checkbox_11") 9
                .checkbox
                    input.checkbox__input(type="checkbox" id="checkbox_12")
                    label.checkbox__text.list-country-link(for="checkbox_12") 10
                .checkbox
                    input.checkbox__input(type="checkbox" id="checkbox_13")
                    label.checkbox__text.list-country-link(for="checkbox_13") 11
                .checkbox
                    input.checkbox__input(type="checkbox" id="checkbox_14")
                    label.checkbox__text.list-country-link(for="checkbox_14") 12
                .checkbox
                    input.checkbox__input(type="checkbox" id="checkbox_15")
                    label.checkbox__text.list-country-link(for="checkbox_15") 13
                .checkbox
                    input.checkbox__input(type="checkbox" id="checkbox_16")
                    label.checkbox__text.list-country-link(for="checkbox_6") 14
                .checkbox
                    input.checkbox__input(type="checkbox" id="checkbox_17")
                    label.checkbox__text.list-country-link(for="checkbox_7") 15
                .checkbox
                    input.checkbox__input(type="checkbox" id="checkbox_18")
                    label.checkbox__text.list-country-link(for="checkbox_18") 16
                .checkbox
                    input.checkbox__input(type="checkbox" id="checkbox_19")
                    label.checkbox__text.list-country-link(for="checkbox_19") 17 - 20
                .checkbox
                    input.checkbox__input(type="checkbox" id="checkbox_200")
                    label.checkbox__text.list-country-link(for="checkbox_200") 20 - 100
                .checkbox
                    input.checkbox__input(type="checkbox" id="checkbox_300")
                    label.checkbox__text.list-country-link(for="checkbox_300") 100 - 200
                .checkbox
                    input.checkbox__input(type="checkbox" id="checkbox_21")
                    label.checkbox__text.list-country-link(for="checkbox_21") > 200


    .droplist-aside._spollers(data-da=".catalog-aside__filter,1023,last")
        .droplist-aside__title._spoller Цена
        .droplist-aside-body(style="display: none;")
            .checkbox
                input.checkbox__input(type="checkbox" id="checkbox_22")
                label.checkbox__text(for="checkbox_22") Цена в руб, (с НДС)
            .droplist-aside-slider
                .droplist-aside-body__inputs
                    input.droplist-aside-body__from.droplist-aside-body-input#price-start(placeholder="от" type="number")
                    input.droplist-aside-body__before.droplist-aside-body-input#price-end(placeholder="до" type="number")
                .droplist-aside-body__slider

    .catalog-aside__btn.button Показать еще
    .catalog-aside__btn.button Применить

.catalog-aside__body.catalog-aside__body-mobile
    .catalog-aside-body-spoller._spollers
        .catalog-aside-btn-show-filter._spoller  Фильтр товаров
        .catalog-aside__filter
    .catalog-aside__btn-filter
        .btn-filter.all(data-removeFilter="all") Очистить фильтры
        .btn-filter(data-removeFilter="availability") Есть в наличии
        .btn-filter(data-removeFilter="hit") Хит
        .btn-filter(data-removeFilter="sale") Акции
    .catalog-aside__btn.button Показать еще
    .catalog-aside__btn.button Применить