section.catalog-section-page
    ._container
        .catalog-section-page-body
            form.catalog-aside
                include ../../pug/catalog/aside
            .catalog-goods
                include ../../pug/catalog/filrer
                include ../../pug/catalog/goods
