include ./../../pug/mixins
.catalog-goods__body
    +good-catalog('cat1','-15%', '1 000 000p.', '999 999p.', 'sale')
    +good-catalog('cat2','New', '10 000p.', '9 000p.', 'new')
    +good-catalog('cat3','Хит', '100 000p.', '90 000p.', 'hit')


