section.score
    ._container
        .score-body
            .score__titles
                .score__title Номер и дата счета
                .score__title Количество
                .score__title Статус

            .score__elements
                .score__element.score-element
                    .score-element__name Номер и дата счета
                    .score-element__number 96587 от 18.07 2021 14:45. 35
                    .score-element__name Количество
                    .score-element__quantity 1
                    .score-element__name Статус
                    .score-element__status Закрыт. Отмена автоматически, Отмена оплаты клиента.
                .score__element.score-element
                    .score-element__name Номер и дата счета
                    .score-element__number 96587 от 18.07 2021 14:45. 35
                    .score-element__name Количество
                    .score-element__quantity 1
                    .score-element__name Статус
                    .score-element__status Закрыт. Отмена автоматически, Отмена оплаты клиента.
