.popup.popup_popup.enter
    .popup__body
        .popup__content.enter-content
            a.popup__close.close-popup
                img(src="img/icons/exit.svg")
            form.modal-form
                .modal-form__title Войти
                .modal-form__register Зарегестрироваться
                .modal-form__soc
                    a(href="vk")
                        img(src='img/icons/soc/vk.svg' alt='vk')
                    a(href="vk")
                        img(src='img/icons/soc/g+.svg' alt='g+')
                    a(href="vk")
                        img(src='img/icons/soc/fasebook.svg' alt='fasebook')
                    a(href="vk")
                        img(src='img/icons/soc/email.svg' alt='email')
                    a(href="vk")
                        img(src='img/icons/soc/telegr.svg' alt='telegr')
                .modal-form__inputs
                    input.modal-form__input(placeholder='Логин')
                    input.modal-form__input(placeholder='Пароль')


                .modal-form__btn.button Отправить


.popup.popup_popup1.basket
    .popup__body
        .popup__content.basket-content
            a.popup__close.close-popup
                img(src="img/icons/exit.svg")
            form.modal-form
                .modal-form__good.modal-form-good
                    a.modal-form-good__delete(href="#")
                        img(src="img/icons/exit.svg")
                    .modal-form-good__img
                        img(src='img/cat1.png' alt='')
                    .modal-form-good__name Вытяжка Macbi
                    .modal-form-good__prices
                        .modal-form-good__price-for-one 19 999 р.
                        .modal-form-good__price-all 19 999 р. x 2
                    .modal-form-good__price-total 33 998 р.
                .modal-form__good.modal-form-good
                    a.modal-form-good__delete(href="#")
                        img(src="img/icons/exit.svg")
                    .modal-form-good__img
                        img(src='img/cat1.png' alt='')
                    .modal-form-good__name Вытяжка Macbi
                    .modal-form-good__prices
                        .modal-form-good__price-for-one 19 999 р.
                        .modal-form-good__price-all 19 999 р. x 2
                    .modal-form-good__price-total 33 998 р.
                .modal-form__good.modal-form-good
                    a.modal-form-good__delete(href="#")
                        img(src="img/icons/exit.svg")
                    .modal-form-good__img
                        img(src='img/cat1.png' alt='')
                    .modal-form-good__name Вытяжка Macbi
                    .modal-form-good__prices
                        .modal-form-good__price-for-one 19 999 р.
                        .modal-form-good__price-all 19 999 р. x 2
                    .modal-form-good__price-total 33 998 р.
                .modal-form__good.modal-form-good
                    a.modal-form-good__delete(href="#")
                        img(src="img/icons/exit.svg")
                    .modal-form-good__img
                        img(src='img/cat1.png' alt='')
                    .modal-form-good__name Вытяжка Macbi
                    .modal-form-good__prices
                        .modal-form-good__price-for-one 19 999 р.
                        .modal-form-good__price-all 19 999 р. x 2
                    .modal-form-good__price-total 33 998 р.

                .modal-form__total 33 998 р.

                .modal-form__btn.button Перейти в корзину


.popup.popup_popup2.enter
    .popup__body
        .popup__content.basket-content
            a.popup__close.close-popup
                img(src="img/icons/exit.svg")
            form.modal-form
                .modal-form__title.size.modal-form__title-mb Зарегестрироваться
                .modal-form__inputs
                    input.modal-form__input(placeholder='Email')
                    input.modal-form__input(placeholder='Имя')
                    input.modal-form__input(placeholder='Фамилия')
                    input.modal-form__input(placeholder='Телефон')
                    input.modal-form__input(placeholder='Город')
                    select.modal-form__input
                        option(value='ИП' selected='selected') ИП
                        option(value='ООО') ООО
                        option(value='Физическое лицо') Физическое лицо
                    input.modal-form__input(placeholder='Название фирмы')

                .modal-form__btn.size.modal-form__btn-mt.button Зарегестрироваться



.popup.popup-center.popup_popup3
    .popup__body.custom-body
        .popup__content.basket-content
            a.popup__close.close-popup
                img(src="img/icons/exit.svg")
            .modal-text
                <svg width="68" height="67" viewBox="0 0 68 67" fill="none" xmlns="http://www.w3.org/2000/svg">
                <ellipse cx="33.6745" cy="33.5" rx="33.3845" ry="33.5" fill="#DF0303"/>
                <path d="M46.7487 23.8339C46.2428 23.3262 45.4226 23.3262 44.9166 23.8339L29.3954 39.4089L23.4294 33.4222C22.9235 32.9145 22.1033 32.9145 21.5972 33.4222C21.0913 33.9298 21.0913 34.7529 21.5972 35.2606L28.4794 42.1664C28.9851 42.6741 29.806 42.6738 30.3115 42.1664L46.7487 25.6724C47.2547 25.1647 47.2546 24.3416 46.7487 23.8339Z" fill="white"/>
                </svg>
                p На указанный почтовый ящик было выслано письмо со ссылкой для подтверждения регистрации
.popup.popup-center.popup_popup4
    .popup__body.custom-body
        .popup__content.basket-content
            a.popup__close.close-popup
                img(src="img/icons/exit.svg")
            .modal-text
                <svg width="68" height="67" viewBox="0 0 68 67" fill="none" xmlns="http://www.w3.org/2000/svg">
                <ellipse cx="33.6745" cy="33.5" rx="33.3845" ry="33.5" fill="#DF0303"/>
                <path d="M46.7487 23.8339C46.2428 23.3262 45.4226 23.3262 44.9166 23.8339L29.3954 39.4089L23.4294 33.4222C22.9235 32.9145 22.1033 32.9145 21.5972 33.4222C21.0913 33.9298 21.0913 34.7529 21.5972 35.2606L28.4794 42.1664C28.9851 42.6741 29.806 42.6738 30.3115 42.1664L46.7487 25.6724C47.2547 25.1647 47.2546 24.3416 46.7487 23.8339Z" fill="white"/>
                </svg>
                p Ваш заказ оформлен
.popup.popup-center.popup_popup5
    .popup__body.custom-body
        .popup__content.basket-content
            a.popup__close.close-popup
                img(src="img/icons/exit.svg")
            .modal-text
                <svg width="67" height="67" viewBox="0 0 67 67" fill="none" xmlns="http://www.w3.org/2000/svg">
                <ellipse cx="33.3845" cy="33.5" rx="33.3845" ry="33.5" fill="#DF0303"/>
                <path d="M18.8789 21.5742H24.2695C24.7541 21.5742 25.1484 21.9686 25.1484 22.4531C25.1484 22.5289 25.0372 21.5003 26.8234 37.577C25.844 37.9622 25.1484 38.9166 25.1484 40.0312C25.1484 41.4851 26.3313 42.6673 27.7852 42.6673H28.8151C28.7176 42.9424 28.6641 43.2388 28.6641 43.5469C28.6641 45.0007 29.8469 46.1836 31.3008 46.1836C32.7546 46.1836 33.9375 45.0007 33.9375 43.5469C33.9375 43.2388 33.8839 42.9424 33.7864 42.6673H39.3622C39.2645 42.9424 39.2109 43.2388 39.2109 43.5469C39.2109 45.0007 40.3938 46.1836 41.8476 46.1836C43.3015 46.1836 44.4844 45.0007 44.4844 43.5469C44.4844 42.093 43.3015 40.9102 41.8476 40.9102H27.7852C27.3006 40.9102 26.9062 40.5158 26.9062 40.0312C26.9062 39.5467 27.3006 39.1523 27.7852 39.1523H43.8742C45.1685 39.1523 46.2623 38.2258 46.4749 36.9491L47.9881 27.871C48.0304 27.6162 47.9588 27.3555 47.7917 27.1585C47.6246 26.9614 47.3795 26.8477 47.1211 26.8477H44.4844V22.4531C44.4844 21.9677 44.0909 21.5742 43.6055 21.5742H36.5742C36.0888 21.5742 35.6953 21.9677 35.6953 22.4531V23.332H31.3008C30.8153 23.332 30.4219 23.7255 30.4219 24.2109V26.8477H27.3999L26.9058 22.3996C26.8769 20.9704 25.7055 19.8164 24.2695 19.8164H18.8789C18.3934 19.8164 18 20.2099 18 20.6953C18 21.1808 18.3934 21.5742 18.8789 21.5742ZM32.1797 43.5469C32.1797 44.0314 31.7853 44.4258 31.3008 44.4258C30.8162 44.4258 30.4219 44.0314 30.4219 43.5469C30.4219 43.0623 30.8162 42.6673 31.3008 42.6673C31.7853 42.6673 32.1797 43.0623 32.1797 43.5469ZM41.8476 44.4258C41.3631 44.4258 40.9687 44.0314 40.9687 43.5469C40.9687 43.0607 41.3631 42.668 41.8476 42.668C42.3322 42.668 42.7265 43.0623 42.7265 43.5469C42.7265 44.0314 42.3322 44.4258 41.8476 44.4258ZM37.4531 23.332H42.7265V26.8477H37.4531V23.332ZM32.1797 25.0898H35.6953V26.8477H32.1797V25.0898ZM46.0836 28.6055L44.7412 36.66C44.6702 37.0858 44.3056 37.3945 43.8742 37.3945H28.5718L27.5952 28.6055H46.0836Z" fill="white"/>
                <path d="M31.3008 35.6367C31.7862 35.6367 32.1797 35.2433 32.1797 34.7578V31.2422C32.1797 30.7567 31.7862 30.3633 31.3008 30.3633C30.8153 30.3633 30.4219 30.7567 30.4219 31.2422V34.7578C30.4219 35.2433 30.8153 35.6367 31.3008 35.6367Z" fill="white"/>
                <path d="M36.5742 35.6367C37.0597 35.6367 37.4531 35.2433 37.4531 34.7578V31.2422C37.4531 30.7567 37.0597 30.3633 36.5742 30.3633C36.0888 30.3633 35.6953 30.7567 35.6953 31.2422V34.7578C35.6953 35.2433 36.0888 35.6367 36.5742 35.6367Z" fill="white"/>
                <path d="M41.8477 35.6367C42.3331 35.6367 42.7266 35.2433 42.7266 34.7578V31.2422C42.7266 30.7567 42.3331 30.3633 41.8477 30.3633C41.3622 30.3633 40.9688 30.7567 40.9688 31.2422V34.7578C40.9688 35.2433 41.3622 35.6367 41.8477 35.6367Z" fill="white"/>
                </svg>
                p Товар добавлен в корзину. <b>Духовой шкаф МВО 3680</b> в корзине - <b>1</b> на сумму - <b>31491, 00</b> Общая сумма корзины - <b>31491, 00</b>
                a(href='#') Просмотр корзины





















.popup.popup_massagename-message
    .popup__content
        .popup__body
            .popup__close


.popup.popup_video
    .popup__content
        .popup__body
            .popup__close.popup__close_video
            .popup__video._video


