section.seo-text
    ._container
        .seo-text-body
            h2 Наклонная вытяжка Macbi
            p Наклонная вытяжка черного цвета шириной 60 см прекрасно подойдет для кухни площадью до 20 кв.м. Крепится к стене над варочной поверхностью. Работает в двух режимах: отвода (при подключении к системе вентиляции) и рециркуляции (при использовании сменного угольного фильтра).  Корпус выполнен из нержавеющей стали. Откидная панель из глянцевого закаленного стекла скрывает многослойный алюминиевый жироулавливающий фильтр, который легко снимается и полностью разбирается.
            h3 Особенности
            p Большой спрос на подобный вид отопления обусловлен тем, что он может функционировать в любое время года и не зависит от отопительного периода. Отдельное внимание стоит уделить управлению системой. Ее можно включать и отключать при необходимости и задавать соответствующий режим. Такие полы считаются безопасными. Согласно отзывам, с их укладкой не возникает особых сложностей. Если купить теплый электрический.
            h3 Преимущества
            p Цена на теплый электрический пол зависит от фирмы производителя. Однако в целом затраты на обустройство такой системы минимальны, поскольку нет необходимости приобретать и устанавливать трубы, котел, дымохо