include pug/mixins
doctype html
html(lang="ru")
    +head('Каталог')

    body
        //на всех кроме главной надо добавить класс .other-pages для .wrapper , тк шапка другая
        .wrapper.other-pages
            include pug/_basic/header-lk-2
            .page.page-lk
                include pug/bread-crumbs
                +headline('Газовая варочная поверхность MBH 631 WEE')
                include pug/card-good/card-good-top
                include pug/card-good/card-good-bottom
                include pug/popular-products


            include pug/_basic/_footer

        include pug/_basic/_popup
        include pug/_basic/_js