include pug/mixins
doctype html
html(lang="ru")
    +head('Счет')

    body
        //на всех кроме главной надо добавить класс .other-pages для .wrapper , тк шапка другая
        .wrapper.other-pages
            include pug/_basic/header-lk-2
            .page.page-lk
                include pug/bread-crumbs
                +headline('Счет')
                include pug/score/score



            include pug/_basic/_footer

        include pug/_basic/_popup
        include pug/_basic/_js