.other-pages{

  .header{
    @if ($link-img == '') {
      background-image: url("./../../../img/header.png");
    } @else {
      background-image: url($link-img + "/img/header.png");
    }
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  @include maq('tablet') {
    background: $color_2;
  }
}
._lock .header{
  padding-right: 17px;
}


.body-header{
  display: grid;
  //justify-content: space-between;
  grid-template-columns: 1fr auto auto auto ;
  align-items: center;
  height: 60px;
  @include maq('tablet-wide') {
    width: 100%;
    justify-content: flex-end;
    grid-gap: 30px;
    .header__logo{
      margin-right: auto;
      img{
        width: 120px;
      }
    }
  }
  @include mq('tablet-990') {
    grid-template-columns: 70px auto auto 30px 25px;
    grid-gap: 15px;
  }
  @include mq('tablet-wide') {
    grid-template-columns: 100px auto auto 30px 25px;
  }
  @include mq('desktop') {
    grid-template-columns: 160px auto auto 30px 25px;
    height: 120px;
    grid-gap: 15px;
  }
}
.header__logo{
  display: block;
  width: 100%;
  z-index: 3;
  img{
    max-width: 100%;
  }
}

.header-phone__link{
  color: $color_1;
  font-weight: 700;
  font-size: 22px;
  display: flex;
  align-items: center;
  .header-phone-num{
    @include maq('tablet-wide') {
      display: none;
    }
  }
  .header-phone-svg{
    z-index: 10;
    @include maq('tablet-wide') {
      margin-right: 0 !important;
    }
  }
  svg{
    margin-right: 10px;
  }
}
.header-basket__link{
  position: relative;
  display: block;
  z-index: 10;

  .header-basket__number{
    position: absolute;
    top: 0;
    right: 0;
    width: 14px;
    height: 14px;
    background: $color_3;
    border-radius: 50%;
    color: $color_1;
    font-size: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    span{
      transform: translateX(1px);
    }
  }
}
.header__lk{
  @include maq('tablet-wide') {
    display: none;
  }
}
body._pc{
  .header-phone__link{
    &:hover{
      color: $color_3;
    }
  }
}

.stickytop {
  background: $color_2;
  .body-header{
    height: 55px;
  }
  .body-header-bottom{
    display: none;
  }
}

.menu-mobile{
  display: grid;
  grid-gap:  35px;
  grid-template-columns: 1fr;
  margin-top: 50px;
  .menu-mobile__wrapper{
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 30px 25px;
    align-items: center;
  }

  @include mq('tablet-990') {
    display: none;
  }


}
