.pagination{
  padding: 30px 0;
}
.pagination{
  display: flex;
  a{
    display: block;
    padding: 0 10px;
    &:hover{
      color: $color_3;
    }
    &.active{
      color: $color_3;
    }
  }
}

