.catalog-goods__body{
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr;
  @include mq('tablet') {
    grid-template-columns: 1fr 1fr;
  }
  @include mq('desktop') {
    grid-template-columns: repeat(3, 270px);
  }
}

.good-catalog{
  position: relative;
  box-shadow: 0px 4px 13px rgba(34, 34, 34, 0.15);
  border-radius: 5px;
  background: $color_1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  @include mq('tablet-wide') {
    height: auto;
    &:hover{
      border: 1px solid $color_1;
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
    }
  }
  &__red-text{
    color: $color_1;
    padding: 5px 15px;
    background: $color_3;
    position: absolute;
    z-index: 5;
    top: 20px;
    right: 20px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    width: 70px;
    text-align: center;
    &:nth-child(2){
      top: 55px;
    }
    &:nth-child(3){
      top: 90px;
    }
  }
  &__img{
    margin-bottom: 20px;
    img{
      max-width: 100%;
      margin: auto;
      display: block;
    }
  }
  &__name{
    font-size: 22px;
    font-weight: 600;
    color: $color_2;
    margin-bottom: 17px;
    text-align: center;
  }
  &__text{
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    color: $color_2;
    margin-bottom: 17px;
  }
  &__description{
    font-size: 16px;
    color: $color_6;
    display: grid;
    grid-gap: 10px;
    margin-bottom: 15px;

    .good-catalog-description__wrapper{
      display: grid;
      grid-gap: 0px;
      grid-template-columns: 1fr 1fr;
    }
    .description-name{
      display: inline-block;
      margin-right: 3px;
      color: $color_2;
    }
    .description-text{
      display: inline-block;
      color: $color_2;
      font-weight: 400;
    }

  }
  &__availability{
    @include adaptiv-font(18,16);
    font-weight: 600;
    color: $color_4;
    margin-bottom: auto;
  }
  &__designer-price{
    border-radius: 10px;
    padding: 5px 10px;
    border: 1px solid $color_3;
    color: $color_2;
    width: fit-content;
    font-weight: 700;
    font-size: 22px;
  }
  &__designer-price-margin{
    margin: 20px 0 10px;
  }
  &__price-old{
    text-decoration: line-through;
    font-size: 16px;
    color: $color_2;
  }
  &__price-new{
    font-weight: 700;
    font-size: 22px;
    color: $color_3;

  }
  &__price-new-margin{
    margin-bottom: 20px;
    @include maq('tablet') {
      margin-bottom: 15px;
    }
  }

}