section.sec-about-us.about-us
    ._container
        .about-us-body
            .about-us__img
                img(src='img/ab1.png' alt='')
            .about-us__description(data-da=".about-us-body,767,first")
                h2 Домовик
                p Домовик-компания поставщик кухонной техники ведущих заводов Европы, Китая и России.
                    | <b>Более 18-ти лет работает</b>  с ключевыми предприятиями.
                span Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев
                    |более менее осмысленного текста рыбы на русском языке, а начинающему оратору
                .about-us__button.about-us__btn Подробнее о нас
            .about-us__qualities.about-us-qualities
                .about-us-qualities__element
                    .about-us-qualities__number 17
                    .about-us-qualities__text Лет на рынке
                .about-us-qualities__element
                    .about-us-qualities__number 5
                    .about-us-qualities__text Мировых заводов  наши партнеры
                .about-us-qualities__element
                    .about-us-qualities__number 15
                    .about-us-qualities__text Представительств в регионах страны
            .about-us__map._ibg
                img(src='img/ab-map.png' alt='')

