section.sec-brand.brand
    ._container
        .brand-body
            .brand-top
                .title.brand_title Наши партнеры
                .brand-body_nav(data-da=".brand-body,767,last")
                    .brand-body-btn-l.ar
                        img(src='img/icons/arrow-l.svg' alt='стрелка на лево')
                    .brand-body-btn-n.ar
                        img(src='img/icons/arrow-r.svg' alt='стрелка на право')
            .brand-body__sleder._swiper
                .brand-body__slide
                    img(src='img/lg.svg' alt='')
                .brand-body__slide
                    img(src='img/indesit.png' alt='')
                .brand-body__slide
                    img(src='img/samsung.png' alt='')
                .brand-body__slide
                    img(src='img/sony.png' alt='')
                .brand-body__slide
                    img(src='img/Bosch.png' alt='')
                .brand-body__slide
                    img(src='img/lg.svg' alt='')
                .brand-body__slide
                    img(src='img/indesit.png' alt='')
                .brand-body__slide
                    img(src='img/samsung.png' alt='')
                .brand-body__slide
                    img(src='img/sony.png' alt='')
                .brand-body__slide
                    img(src='img/Bosch.png' alt='')
