include ./../../pug/mixins
section.sec-catalog.catalog.catalog_padding-page-main
    ._container
        .catalog__title.title Каталог
        .catalog__body.catalog-body
            .catalog-body__row
                +catalog-card-main('Духовые шкафы', 'От 19 999 р.', 'img/cat1.png')
                +catalog-card-main('Вытяжка', 'От 19 999 р.', 'img/cat2.png')
                +catalog-card-main('Посудомоечная машина', 'От 19 999 р.', 'img/cat3.png')
            .catalog-body__row
                +catalog-card-main('Встраиваемые микроволновые печи', 'От 19 999 р.', 'img/cat4.png')
                +catalog-card-main('Встраиваемые стиральные машины', 'От 19 999 р.', 'img/cat5.png')
            .catalog-body__row
                +catalog-card-main('Встраиваемые морозильники', 'От 19 999 р.', 'img/cat6.png')
                +catalog-card-main('Духовые шкафы', 'От 19 999 р.', 'img/cat1.png')
                +catalog-card-main('Духовые шкафы', 'От 19 999 р.', 'img/cat1.png')
            .catalog-body__btn.button Показать еще

